<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="dungeonBuilder" ng-controller="main">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Dungeon Builder</title>
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
    <script src="ui-bootstrap-tpls-2.1.3.min.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js" type="text/javascript"></script>
    <script src="controller.js" type="text/javascript"></script>
    <link href='css/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body style='background-color: #FFFFFF;'>
    <div id='rightPanel' style="position:absolute; bottom: 0; right: 0;width: 512px;">
        <div id='narrationContainer' style="width: 512px; height: 300px; float: top; overflow: scroll;"></div>
    </div>
    <uib-tabset>
        <uib-tab heading="Summary">
            <div class="unitBox">
              Word of your dungeon has spread far and wide. Your reputation allows you to recruit minions, monsters and acolytes to improve your dungeon.<br/>
              You currently have <span ng-bind="reputation"></span> reputation.</br>
              You earn <span ng-bind="reputationRate"></span> reputation per second.<br />
              Dungeon Level <span ng-bind="dungeonLevel"></span><br />
              (higher dungeon levels attract stronger adventurers)<br />
              Progress to next dungeon level:<br />
              <uib-progressbar class="progress-bar-custom" value="tierProgressPercent">{{tierETA}} {{tierProgressPercentRounded}}%</uib-progressbar>
              Space: <span id="population" ng-bind="population"></span>/<span id="maxPopulation" ng-bind="maxPopulation"></span><br/>
              Empty rooms: <span ng-bind="emptyRooms"></span><br />
              <button type="button" ng-click="closeDungeon()" ng-bind="closeDungeonText">Close Dungeon</button><br />
            </div>
            <div class="unitBox">
              Minions dig additional rooms in your dungeon.<br/>
              Rooms limit how many units you can have.<br />
              You currently have <span id="smallMinionCount" ng-bind="smallMinions"></span> small minions.<br/>
              You currently have <span id="minionCount" ng-bind="minions"></span> minions.<br/>
              You currently have <span id="bigMinionCount" ng-bind="bigMinions"></span> big minions.<br/>
              You currently have <span ng-bind="hugeMinions"></span> huge minions.<br/>
            </div>
            <div class="unitBox">
              Monsters protect your dungeon, killing adventurers that enter. Of these, <span id="monsterActiveCount" ng-bind="monstersActive"></span> are active.<br/>
              You currently have <span id="smallMonsterCount" ng-bind="smallMonsters"></span> small monsters.<br/>
              You currently have <span id="monsterCount" ng-bind="monsters"></span> monsters.<br>
              You currently have <span id="bigMonsterCount" ng-bind="bigMonsters"></span> big monsters.<br/>
              You currently have <span ng-bind="hugeMonsters"></span> huge monsters.<br/>
            </div>
            <div class="unitBox">
              Acolytes go out and teach of your power, gaining you reputation.<br/>
              You currently have <span id="smallAcolyteCount" ng-bind="smallAcolytes"></span> small acolytes.<br/>
              You currently have <span id="acolyteCount" ng-bind="acolytes"></span> acolytes.<br>
              You currently have <span id="bigAcolyteCount" ng-bind="bigAcolytes"></span> big acolytes.<br/>
              You currently have <span ng-bind="hugeAcolytes"></span> huge acolytes.<br/>
            </div>
            <div class="unitBox">
              <div>
                Adventurers are coming to your dungeon hoping to steal your treasure. The more treasure you have the more likely adventurers are to come and try to steal it, so make sure to guard it well with monsters.
              </div>
              <span id="adventurerCount" ng-bind="adventurers"></span> adventurers have died in your dungeon.<br/>
              You have hoarded <span id="treasureCount" ng-bind="treasure"></span> treasures.
            </div>
            <div class="unitBox" id="roomProgressPanel">
                Excavation progress:<br />
                <uib-progressbar class="progress-bar-custom" value="roomProgressPercent">{{roomETA}} {{roomProgressPercentRounded}}%</uib-progressbar>
            </div>
        </uib-tab>
        <uib-tab heading="Minions">
            <div style="float: left;">
            <div class="unitBox">
              Word of your dungeon has spread far and wide. Your reputation allows you to recruit minions, monsters and acolytes to improve your dungeon.<br/>
              You currently have <span ng-bind="reputation"></span> reputation.</br>
              You earn <span ng-bind="reputationRate"></span> reputation per second.<br />
              Space: <span id="population" ng-bind="population"></span>/<span id="maxPopulation" ng-bind="maxPopulation"></span><br/>
              Empty rooms: <span ng-bind="emptyRooms"></span><br />
            </div>
            <div class="unitBox">
              Minions dig additional rooms in your dungeon.<br/>
              Rooms limit how many units you can have.<br />
              Excavation progress:<br />
              <uib-progressbar class="progress-bar-custom" value="roomProgressPercent">{{roomETA}} {{roomProgressPercentRounded}}%</uib-progressbar>
              Your dungeon has <span id="roomCount" ng-bind="rooms"></span> rooms.<br/>
            </div>
            <div class="unitBox">
              You currently have <span id="smallMinionCount" ng-bind="smallMinions"></span> small minions, which contribute 10 labor/s. They take up 5 space each and cost 375 reputation.<br/>
              Progress towards next small minion:<br />
              <uib-progressbar class="progress-bar-custom" value="smallUnitProgressPercent">{{smallUnitETA}} {{smallUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllSmallMinions" ng-click="dungeon.buyAllSmallMinions()" ng-bind="buyAllSmallMinionsText">Buy All</button><button id="buyRoomOfSmallMinions" ng-click="dungeon.buyRoomOfSmallMinions()" ng-bind="buyRoomOfSmallMinionsText">Fill Room</button><button id="buySmallMinion" ng-click="dungeon.buySmallMinion()">Buy Mini-on</button><br /><button id="sellSmallMinion" ng-click="dungeon.sellSmallMinion()">Dismiss Mini-on</button><button ng-click="dungeon.sellRoomOfSmallMinions()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="minionCount" ng-bind="minions"></span> minions, which contribute 160 labor/s. They take up 10 space each and cost 4k reputation.<br/>
              Progress towards next minion:<br />
              <uib-progressbar class="progress-bar-custom" value="unitProgressPercent">{{unitETA}} {{unitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllMinions" ng-click="dungeon.buyAllMinions()" ng-bind="buyAllMinionsText">Buy All</button><button id="buyRoomOfMinions" ng-bind="buyRoomOfMinionsText" ng-click="dungeon.buyRoomOfMinions()">Fill Room</button><button id="buyMinion" ng-click="dungeon.buyMinion()">Buy Minion</button><br /><button id="sellMinion" ng-click="dungeon.sellMinion()">Dismiss Minion</button><button ng-click="dungeon.sellRoomOfMinions()">Dismiss Room</button><br/>
            </div>
            </div>
            <div style="float: left;">
            <div class="unitBox">
              You currently have <span id="bigMinionCount" ng-bind="bigMinions"></span> big minions, which contribute 2.56k labor/s. They take up 25 space each and cost 477.68k reputation.<br/>
              Progress towards next big minion:<br />
              <uib-progressbar class="progress-bar-custom" value="bigUnitProgressPercent">{{bigUnitETA}} {{bigUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllBigMinions" ng-click="dungeon.buyAllBigMinions()" ng-bind="buyAllBigMinionsText">Buy All</button><button id="buyRoomOfBigMinions" ng-bind="buyRoomOfBigMinionsText" ng-click="dungeon.buyRoomOfBigMinions()">Fill Room</button><button id="buyBigMinion" ng-click="dungeon.buyBigMinion()">Buy Big Minion</button><br /><button id="sellBigMinion" ng-click="dungeon.sellBigMinion()">Dismiss Big Minion</button><button ng-click="dungeon.sellRoomOfBigMinions()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="hugeMinionCount" ng-bind="hugeMinions"></span> huge minions, which contribute 40.96k labor/s. They take up 50 space each and cost 71.01M reputation.<br/>
              Progress towards next huge minion:<br />
              <uib-progressbar class="progress-bar-custom" value="hugeUnitProgressPercent">{{hugeUnitETA}} {{hugeUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllHugeMinions" ng-click="dungeon.buyAllHugeMinions()" ng-bind="buyAllHugeMinionsText">Buy All</button><button id="buyHugeMinion" ng-click="dungeon.buyHugeMinion()">Buy Huge Minion</button><button id="sellHugeMinion" ng-click="dungeon.sellHugeMinion()">Dismiss Huge Minion</button><br/>
            </div>
            <div class="unitBox" style="float: top;">
                Progress towards next upgrade:<br />
                <uib-progressbar class="progress-bar-custom" value="minionUpgradeProgressPercent">{{minionUpgradeETA}} {{minionUpgradeProgressPercentRounded}}%</uib-progressbar>
                <button id='upgradeMinions' ng-click="dungeon.upgradeMinions()" ng-bind="upgradeMinionsText">Upgrade Minions</button><br/>
                Upgrading improves effectiveness of all minion units by 20%<br />
                Current Effectiveness: <span ng-bind="minionMultiplier"></span>%
            </div>
            </div>
            <div class="unitBox" style="float: left; height: '400';">
                <canvas id="minionChart" width="400" height="400"></canvas>
            </div>
        </uib-tab>
        <uib-tab heading="Monsters">
            <div style="float: left;">
            <div class="unitBox">
              Word of your dungeon has spread far and wide. Your reputation allows you to recruit minions, monsters and acolytes to improve your dungeon.<br/>
              You currently have <span ng-bind="reputation"></span> reputation.</br>
              You earn <span ng-bind="reputationRate"></span> reputation per second.<br />
              Space: <span id="population" ng-bind="population"></span>/<span id="maxPopulation" ng-bind="maxPopulation"></span><br/>
              Empty rooms: <span ng-bind="emptyRooms"></span><br />
            </div>
            <div class="unitBox">
              Monsters protect your dungeon, killing adventurers that enter. Of these, <span id="monsterActiveCount" ng-bind="monstersActive"></span> are active.<br/>
              Level 1 adventurers have 13 hp, deal 3-10 dmg.<br/>
              Level 39 adventurers have 42.58k hp, deal 9.82k-32.76k dmg<br/>
            </div>
            <div class="unitBox">
              You currently have <span id="smallMonsterCount" ng-bind="smallMonsters"></span> small Monsters. 4 hp, deal 1 dmg. They take up 5 space each and cost 375 reputation.<br/>
              Progress towards next small monster:<br />
              <uib-progressbar class="progress-bar-custom" value="smallUnitProgressPercent">{{smallUnitETA}} {{smallUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllSmallMonsters" ng-click="dungeon.buyAllSmallMonsters()" ng-bind="buyAllSmallMonstersText">Buy All</button><button id="buyRoomOfSmallMonsters" ng-bind="buyRoomOfSmallMonstersText" ng-click="dungeon.buyRoomOfSmallMonsters()">Fill Room</button><button id="buySmallMonster" ng-click="dungeon.buySmallMonster()">Buy Small Monster</button><br /><button id="sellSmallMonster" ng-click="dungeon.sellSmallMonster()">Dismiss Small Monster</button><button ng-click="dungeon.sellRoomOfSmallMonsters()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="monsterCount" ng-bind="monsters"></span> monsters. 64 hp, deal 4-15 dmg. They take up 10 space each and cost 4k reputation.<br>
              Progress towards next monster:<br />
              <uib-progressbar class="progress-bar-custom" value="unitProgressPercent">{{unitETA}} {{unitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllMonsters" ng-click="dungeon.buyAllMonsters()" ng-bind="buyAllMonstersText">Buy All</button><button id="buyRoomOfMonsters" ng-bind="buyRoomOfMonstersText" ng-click="dungeon.buyRoomOfMonsters()">Fill Room</button><button id="buyMonster" ng-click="dungeon.buyMonster()">Buy Monster</button><br /><button id="sellMonster" ng-click="dungeon.sellMonster()">Dismiss Monster</button><button ng-click="dungeon.sellRoomOfMonsters()">Dismiss Room</button><br/>
            </div>
            </div>
            <div style="float: left;">
            <div class="unitBox">            
              You currently have <span id="bigMonsterCount" ng-bind="bigMonsters"></span> big Monsters. 1.02k hp, deal 64-240 dmg. They take up 25 space each and cost 477.68k reputation.<br/>
              Progress towards next big monster:<br />
              <uib-progressbar class="progress-bar-custom" value="bigUnitProgressPercent">{{bigUnitETA}} {{bigUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllBigMonsters" ng-click="dungeon.buyAllBigMonsters()" ng-bind="buyAllBigMonstersText">Buy All</button><button id="buyRoomOfBigMonsters" ng-bind="buyRoomOfBigMonstersText" ng-click="dungeon.buyRoomOfBigMonsters()">Fill Room</button><button id="buyBigMonster" ng-click="dungeon.buyBigMonster()">Buy Big Monster</button><br /><button id="sellBigMonster" ng-click="dungeon.sellBigMonster()">Dismiss Big Monster</button><button ng-click="dungeon.sellRoomOfBigMonsters()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="hugeMonsterCount" ng-bind="hugeMonsters"></span> huge monsters. 16.38k hp, deal 1.02k-3.84k dmg. They take up 50 space each and cost 71.01M reputation.<br/>
              Progress towards next huge monster:<br />
              <uib-progressbar class="progress-bar-custom" value="hugeUnitProgressPercent">{{hugeUnitETA}} {{hugeUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllHugeMonsters" ng-click="dungeon.buyAllHugeMonsters()" ng-bind="buyAllHugeMonstersText">Buy All</button><button id="buyHugeMonster" ng-click="dungeon.buyHugeMonster()">Buy Huge Monster</button><button id="sellHugeMonster" ng-click="dungeon.sellHugeMonster()">Dismiss Huge Monster</button><br/>
            </div>
            <div class="unitBox">
                Progress towards next upgrade:<br />
                <uib-progressbar class="progress-bar-custom" value="monsterUpgradeProgressPercent">{{monsterUpgradeETA}} {{monsterUpgradeProgressPercentRounded}}%</uib-progressbar>
                <button id='upgradeMonster' ng-click="dungeon.upgradeMonsters()" ng-bind="upgradeMonstersText">Upgrade Monsters</button><br/>
                Upgrading makes monsters level 20% faster<br />
                Current Leveling Speed: <span ng-bind="monsterXPMultiplier"></span>%
            </div>
            </div>
        </uib-tab>
        <uib-tab heading="Acolytes">
            <div style="float: left;">
            <div class="unitBox">
              Word of your dungeon has spread far and wide. Your reputation allows you to recruit minions, monsters and acolytes to improve your dungeon.<br/>
              You currently have <span ng-bind="reputation"></span> reputation.</br>
              You earn <span ng-bind="reputationRate"></span> reputation per second.
              Space: <span id="population" ng-bind="population"></span>/<span id="maxPopulation" ng-bind="maxPopulation"></span><br/>
              Empty rooms: <span ng-bind="emptyRooms"></span><br />
            </div>
            <div class="unitBox">
              Acolytes go out and teach of your power, gaining you reputation.<br/>
            </div>
            <div class="unitBox">
              You currently have <span id="smallAcolyteCount" ng-bind="smallAcolytes"></span> small Acolytes, who earn you 10 rep/s. They take up 5 space each and cost 375 reputation.<br/>
              Progress towards next small acolyte:<br />
              <uib-progressbar class="progress-bar-custom" value="smallUnitProgressPercent">{{smallUnitETA}} {{smallUnitProgressPercentRounded}}%</uib-progressbar>
            <button id="buyAllSmallAcolytes" ng-click="dungeon.buyAllSmallAcolytes()" ng-bind="buyAllSmallAcolytesText">Buy All</button><button id="buyRoomOfSmallAcolytes" ng-bind="buyRoomOfSmallAcolytesText" ng-click="dungeon.buyRoomOfSmallAcolytes()">Fill Room</button><button id="buySmallAcolyte" ng-click="dungeon.buySmallAcolyte()">Buy Small Acolyte</button><br /><button id="sellSmallAcolyte" ng-click="dungeon.sellSmallAcolyte()">Dismiss Small Acolyte</button><button ng-click="dungeon.sellRoomOfSmallAcolytes()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="acolyteCount" ng-bind="acolytes"></span> acolytes, who earn you 160 rep/s. They take up 10 space each and cost 4k reputation.<br>
              Progress towards next acolyte:<br />
              <uib-progressbar class="progress-bar-custom" value="unitProgressPercent">{{unitETA}} {{unitProgressPercentRounded}}%</uib-progressbar>
            <button id="buyAllAcolytes" ng-click="dungeon.buyAllAcolytes()"ng-bind="buyAllAcolytesText">Buy All</button><button id="buyRoomOfAcolytes" ng-bind="buyRoomOfAcolytesText" ng-click="dungeon.buyRoomOfAcolytes()">Fill Room</button><button id="buyAcolyte" ng-click="dungeon.buyAcolyte()">Buy Acolyte</button><br /><button id="sellAcolyte" ng-click="dungeon.sellAcolyte()">Dismiss Acolyte</button><button ng-click="dungeon.sellRoomOfAcolytes()">Dismiss Room</button><br/>
            </div>
            </div>
            <div style="float: left;">
            <div class="unitBox">
              You currently have <span id="bigAcolyteCount" ng-bind="bigAcolytes"></span> big Acolytes, who earn you 2.56k rep/s. They take up 25 space each and cost 477.68k reputation.<br/>
              Progress towards next big acolyte:<br />
              <uib-progressbar class="progress-bar-custom" value="bigUnitProgressPercent">{{bigUnitETA}} {{bigUnitProgressPercentRounded}}%</uib-progressbar>
            <button id="buyAllBigAcolytes" ng-click="dungeon.buyAllBigAcolytes()" ng-bind="buyAllBigAcolytesText">Buy All</button><button id="buyRoomOfBigAcolytes" ng-bind="buyRoomOfBigAcolytesText" ng-click="dungeon.buyRoomOfBigAcolytes()">Fill Room</button><button id="buyBigAcolyte" ng-click="dungeon.buyBigAcolyte()">Buy Big Acolyte</button><br /><button id="sellBigAcolyte" ng-click="dungeon.sellBigAcolyte()">Dismiss Big Acolyte</button><button ng-click="dungeon.sellRoomOfBigAcolytes()">Dismiss Room</button><br/>
            </div>
            <div class="unitBox">
              You currently have <span id="hugeAcolyteCount" ng-bind="hugeAcolytes"></span> huge acolytes, who earn you 40.96k rep/s. They take up 50 space each and cost 71.01M reputation.<br/>
              Progress towards next huge acolyte:<br />
              <uib-progressbar class="progress-bar-custom" value="hugeUnitProgressPercent">{{hugeUnitETA}} {{hugeUnitProgressPercentRounded}}%</uib-progressbar>
              <button id="buyAllHugeAcolytes" ng-click="dungeon.buyAllHugeAcolytes()" ng-bind="buyAllHugeAcolytesText">Buy All</button><button id="buyHugeAcolyte" ng-click="dungeon.buyHugeAcolyte()">Buy Huge Acolyte</button><button id="sellHugeAcolyte" ng-click="dungeon.sellHugeAcolyte()">Dismiss Huge Acolyte</button><br/>
            </div>
            <div class="unitBox" style="float: top;">
                Progress towards next upgrade:<br />
                <uib-progressbar class="progress-bar-custom" value="acolyteUpgradeProgressPercent">{{acolyteUpgradeETA}} {{acolyteUpgradeProgressPercentRounded}}%</uib-progressbar>
                <button id='upgradeAcolytes' ng-click="dungeon.upgradeAcolytes()" ng-bind="upgradeAcolytesText">Upgrade Acolytes</button><br />
                Upgrading improves effectiveness of all acolyte units by 20%<br />
                Current Effectiveness: <span ng-bind="acolyteMultiplier"></span>%
            </div>
            </div>
            <div class="unitBox" style="float: left; height: '400';">
                <canvas id="acolyteChart" width="400" height="400"></canvas>
            </div>
        </uib-tab>
        <uib-tab heading="Adventurers">
            <div class="unitBox">
              <div>
                Adventurers are coming to your dungeon hoping to steal your treasure. The more treasure you have the more likely adventurers are to come and try to steal it, so make sure to guard it well with monsters.
              </div>
              <span id="adventurerCount" ng-bind="adventurers"></span> adventurers have died in your dungeon.<br/>
              You have hoarded <span id="treasureCount" ng-bind="treasure"></span> treasures.
            </div>
        </uib-tab>
        <uib-tab heading="Rooms">
            <div style="float: left;">
            <div class="unitBox" id="roomProgressPanel">
                Excavation progress:<br />
                <uib-progressbar class="progress-bar-custom" value="roomProgressPercent">{{roomETA}} {{roomProgressPercentRounded}}%</uib-progressbar>
            </div>
            <div class="unitBox" id="roomsPanel" style="float: left;">
                SAMPLE TEXT
            </div>
            </div>
            <div class="canvasContainer" id='mainCanvasContainer' style="width: 768px; height: 768; float: left;">
                <canvas height='768' id='mainCanvas' width='768' style="float: left; width: 768px;"></canvas>
            </div>
        </uib-tab>
        <uib-tab heading="DevTools">
            Dev Multiplier: <input type="number" ng-model="devMultiplier" /><button type="button" ng-click="setDevMultiplier()">OK</button><br />
            Timeskip: <input type="number" style="width: 50px;" ng-model="skipDays" />d<input type="number" style="width: 50px;" ng-model="skipHours" />h<input type="number" style="width: 50px;" ng-model="skipMinutes" />m<button type="button" ng-click="timeSkip()">OK</button>
        </uib-tab>
        <uib-tab heading="Settings">
            <button type="button" ng-click="toggleNarrationBox()">Toggle Narration Box</button><br />
            <input type="checkbox" ng-click="toggleAlerts()" checked>Toggle Alerts</button><br />
            <button type="button" ng-click="wipeOutSaveFile()">WIPE SAVE FILE</button>
        </uib-tab>
    </uib-tabset>
    <div style="position: absolute; bottom: 0; width: 400px">
    <div uib-alert id='alerts' style="width: 400px" ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="10000" ng-hide="alert.expired=='true'">{{alert.msg}}
    </div>
    </div>
    <div class="unitBox" id='roomTooltip' style="visibility: hidden; position: absolute;"></div>
  </body>
</html>
